<!doctype html>
<html lang="en">

<!--Head tag goes here -->
<%- include('./../partials/head.ejs'); %>

  <body>
    <!-- Header goes here -->
    <%- include('./../partials/navbar.ejs'); %>

      <!-- Actual body goes here -->

      <div class="container mt-3">
        <div class="row">

          <div class="col-md-12">
            <div class="text-center mt-5">
              <h1 style="font-size:85px">Opps!</h1>
            </div>
            <hr />
            <br />
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 text-center">
                <p class="text-muted" style="font-size: 14px;">It appears that the page you are trying to request has been removed from the system.</p>
                <a href="#">Click here to go back to main page</a>
          </div>
        </div>
      </div>
      <!-- Actual body ends here-->

      <!-- Footer goes here -->
      <%- include('./../partials/footer.ejs'); %>
  </body>

</html>